<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Cripy Blogger</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
</head>
<body>
  <header>
    <h1 class="page-title">Cripsy Blogger</h1>
    <nav>
        <a href="/">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        <a href="/logout">Logout</a>
        {{else }}    
        <a href="/login">Login</a>
        <a href="/create">Sign Up</a>
        {{/if}}
    </nav>
  </header>
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <footer>
    <p>Copyright © 2023 Cripsy Blogger</p>
  </footer>
</body>

</html>
