<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <title>Cripy Blogger</title>
  <link rel="stylesheet" type="text/css" href="/css/reset.css">
  <link rel="stylesheet" type="text/css" href="/css/style.css">
  <script src="https://code.jquery.com/jquery-3.6.3.slim.min.js" integrity="sha256-ZwqZIVdD3iXNyGHbSYdsmWP//UBokj2FHAxKuSBKDSo=" crossorigin="anonymous"></script>
</head>

<body>
  <header>
    <nav>
      <div>
        <a href="/homepage">Home</a>
        {{#if loggedIn}}
        <a href="/dashboard">Dashboard</a>
        {{/if}}
      </div>
      <div>
        {{#if loggedIn}}
        <a href="/logout">Logout</a>
        {{else }}    
        <a href="/create">Sign Up</a>
        <a href="/login">Login</a>
        {{/if}}
      </div>
    </nav>
  </header>
    
    {{!-- <header class="display-flex justify-space-between align-center p-2">
    <h1>
      Crispy Blogger
    </h1>
    <!-- Only display the logout button if the user is logged in -->
    {{#if loggedIn}}
    <nav>
      <button class="btn" id="dashboard">Dashboard</button>
      <button class="btn" id="logout">logout</button>
    </nav>
    {{/if}}
  </header> --}}
  <main class="container container-fluid mt-5">
    {{{ body }}}
  </main>
  <footer>
      
  </footer>

  <!-- Only include the logout script if the user is logged in -->
  {{#if loggedIn}}
  <script src="/js/logout.js"></script>
  {{/if}}
  <footer>
    <p>Copyright © 2023 Cripsy Blogger</p>
  </footer>
</body>

</html>
