<div class="dashboard-header">
  <h2>Your Dashboard</h2>
  <button class="create-button">Create New</button>
</div>
{{#each blogs as |blog| }}
  {{> blogs-details isDashboard=true }}
    <div class="comments-section">
      {{#each comments as |comment| }}
        {{#if comment }}
          {{> comments-details }}
        {{/if }}
      {{/each }}
    </div>
{{/each }}
<!-- Modal -->
<div id="new-blog-modal" class="modal">
  <!-- Modal Content -->
  <div class="modal-content">
    <span class="closeBtn">&times;</span>
    <h2>Add New</h2>
    <div class="input-container">
      <label for="titleInput">Title:</label>
      <input type="text" id="titleInput" placeholder="Enter title here">
    </div>
    <div class="input-container">
      <label for="messageInput">Message:</label>
      <textarea id="messageInput" placeholder="Enter message here"></textarea>
    </div>
  </div>
</div>