:root {
  --primary-color: rgb(78, 141, 161);
  --secondary-color: white;
  --tertiary-color: lightblue;
  
  
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 5;
}

header {
  background-color: var(--primary-color);
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header a {
  color: black;
  text-decoration: none;
  margin-right: 1em;
}

header h1 {
  margin: 0;
}

h2 {
  font-size: 200%;
}

nav a {
  color: var(--secondary-color);
  text-decoration: none;
  padding: 10px;
}

main {
  padding: 20px;
}

.posts {
  margin-left: 20px;
  margin-top: 20px;
  padding: 5px;
  border: 2px solid black;
}

.blog-title {
  font-size: 150%;
  padding: 10px;
  background-color: var(--tertiary-color);
  color: white;
}

.comments-section {
  margin-left: 40px;
  padding-left: 10px;
}

.comment {
  border: 1px solid grey;
  padding: 5px;
  font-size: 80%;
}

.username {
  font-weight: bold;
}

.date {
  color: grey;
  font-style: italic;
  font-size: 10px;
}

.signature{
  font-style: italic;
  color: grey;
  font-size: 10px;
  padding-left: 10px;
}

.delete-button,
.edit-button,
.create-button,
.comment-button {
  float: right;
}

.page-title {
  color: var(--secondary-color);
  font-size: 150%; 
}

.header {
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Modal */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  /* z-index: 1; Sit on top */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  /* display: flex; */
  align-items: center;
  justify-content: center;
  /* width: 100%; Full width */
  /* height: 100%; Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content */
.modal-content {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #fefefe;
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Close Button */
.closeBtn {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.closeBtn:hover,
.closeBtn:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.input-container {
  margin: 10px 0;
}

label {
  display: block;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  margin-top: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

footer {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px;
  text-align: center;
}

